{% extends 'account/base_profile/base.html' %}
{% load static %}

{% block profile %}
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Horizontal Form</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 control-label">Old Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="old_password" class="form-control" id="inputPassword3"
                               placeholder="Old Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword2" class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="new_password1" class="form-control" id="inputPassword2"
                               placeholder="New Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword1" class="col-sm-2 control-label">New Re_Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="new_password2" class="form-control" id="inputPassword1"
                               placeholder="New Re_Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck2">Remember me</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-info float-right">Change Password</button>
{#                <button type="submit" class="btn btn-default ">Cancel</button>#}
            </div>
            <!-- /.card-footer -->
        </form>
    </div>

{% endblock %}