{% extends 'account/base_profile/base.html' %}
{% load humanize %}

{% block profile %}
    <div class="content-wrapper" style="min-height: 1015.12px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Order History</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">order-history</li>
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">تاریخچه سبد خرید</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6"></div>
                                    <div class="col-sm-12 col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if order  %}
                                            <table id="example2" class="table table-bordered table-hover dataTable"
                                                   role="grid" aria-describedby="example2_info">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                        rowspan="1" colspan="1" aria-sort="ascending"
                                                        aria-label="Rendering engine: activate to sort column descending">
                                                        #
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Browser: activate to sort column ascending">
                                                        نام
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Platform(s): activate to sort column ascending">
                                                        پرداخت شده / نشده
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Engine version: activate to sort column ascending">
                                                        محصولات
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">مجموع
                                                        قیمت
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="example2"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="CSS grade: activate to sort column ascending">آدرس
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for ord in order %}

                                                        <tr role="row">
                                                        <td class="sorting_1">{{ forloop.counter }}</td>
                                                        <td>{{ ord.user.name }}</td>
                                                        <td>
                                                            {% if ord.paid %}
                                                                <i class="nav-icon fas fa-check"
                                                                   style="color: green"></i>
                                                            {% else %}
                                                                <i class="nav-icon fas fa-window-close"
                                                                   style="color: red"></i>
                                                            {% endif %}</td>

                                                        <td>
                                                            {% for p in ord.order_item.all %}
                                                                <p>{{ p.product.title }} - قیمت
                                                                    : {{ p.product.price|intcomma }} ریال -
                                                                    تعداد : {{ p.quantity }}</p>
                                                            {% endfor %}
                                                        </td>

                                                        <td>{{ final_price|intcomma }} ریال</td>
                                                        <td>{{ ord.address }} </td>
                                                    </tr>

                                                {% endfor %}


                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1"></th>
                                                    <th rowspan="1" colspan="1">نام</th>
                                                    <th rowspan="1" colspan="1">پرداخت شده / نشده</th>
                                                    <th rowspan="1" colspan="1">محصولات</th>
                                                    <th rowspan="1" colspan="1">مجموع قیمت</th>
                                                    <th rowspan="1" colspan="1">آدرس</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        {% else %}
                                            <p>شما هیچ سبد خریدی ندارید</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="example2_info" role="status"
                                             aria-live="polite">نمایش 1 تا 10
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                            <ul class="pagination">

                                                {% if page_obj.has_previous %}
                                                    <li class="paginate_button page-item previous"
                                                        id="example2_previous"><a
                                                            href="?page={{ page_obj.previous_page_number }}"
                                                            aria-controls="example2"
                                                            data-dt-idx="0" tabindex="0"
                                                            class="page-link">قبلی</a></li>

                                                {% endif %}

                                                {% for num in page_obj.paginator.page_range %}
                                                    {% ifequal num page_obj.number %}
                                                        <li class="paginate_button page-item active"><a
                                                                href="?page={{ num }}"
                                                                aria-controls="example2"
                                                                data-dt-idx="1"
                                                                tabindex="0"
                                                                class="page-link">{{ num }}</a>
                                                        </li>

                                                    {% else %}
                                                        <li class="paginate_button page-item"><a
                                                                href="?page={{ num }}"
                                                                aria-controls="example2"
                                                                data-dt-idx="1"
                                                                tabindex="0"
                                                                class="page-link">{{ num }}</a>
                                                        </li>

                                                    {% endifequal %}
                                                {% endfor %}



                                                {% if page_obj.has_next %}
                                                    <li class="paginate_button page-item next" id="example2_next"><a
                                                            href="?page={{ page_obj.next_page_number }}"
                                                            aria-controls="example2" data-dt-idx="7" tabindex="0"
                                                            class="page-link">بعدی</a></li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}