{% extends 'account/base_profile/base.html' %}
{% load static %}

{% block profile %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% if request.user.is_staff and request.user.is_active %}
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info"></div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success"></div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{ user.count }}</h3>

                                    <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                {#                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{ product.count }}</h3>

                                    <p>Product Count</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                {#                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                {% endif %}


                <div class="row">
                    <section class="col-lg-7 connectedSortable">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    {% if profile.avatar_image %}
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="{{ profile.avatar_image.url }}" alt="User profile picture">
                                    {% endif %}
                                </div>

                                <h3 class="profile-username text-center">{{ profile.f_name }} {{ profile.l_name }}</h3>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Phone</b> <a class="float-right"> {{ profile.phone }} +98</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Full Name</b> <a
                                            class="float-right">{{ profile.f_name }} {{ profile.l_name }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Address</b> <a class="float-right">{{ profile.address }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email</b> <a class="float-right">{{ profile.user.email }}</a>
                                    </li>
                                </ul>

                                <a href="/account/update" class="btn btn-primary btn-block"><b>Change Profile</b></a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        {% if request.user.is_staff %}
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="ion ion-clipboard mr-1"></i>
                                        To Do List
                                    </h3>

                                    <div class="card-tools">
                                        <ul class="pagination pagination-sm">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ page_obj.previous_page_number }}">«</a>
                                                </li>
                                            {% endif %}

                                            {% for num in page_obj.paginator.page_range %}
                                                {% ifequal num page_obj.number %}
                                                    <li class="page-item active"><a class="page-link"
                                                                                    href="?page={{ num }}">{{ num }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link"
                                                                             href="?page={{ num }}">{{ num }}</a></li>
                                                {% endifequal %}
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ page_obj.next_page_number }}">»</a>
                                                </li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <ul class="todo-list" data-widget="todo-list">
                                        {% for todo in page_obj %}
                                            <li>
                                                <!-- drag handle -->
                                                <span class="handle">
                                            <i class="fas fa-ellipsis-v"></i>
                                            <i class="fas fa-ellipsis-v"></i>
                                            </span>
                                                <!-- todo text -->
                                                <span class="text">{{ todo.text }}</span>
                                                <!-- Emphasis label -->
                                                <small class="badge badge-danger"><i
                                                        class="far fa-clock"></i>{{ todo.time }}</small>
                                                <small class="badge badge-info"><i
                                                        class="far fa-clock"></i>{{ todo.date }}
                                                </small>
                                                <!-- General tools such as edit or delete-->
                                                <div class="tools">
                                                    <i class="fas fa-edit"></i>
                                                    <i class="fas fa-trash-o"></i>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <a href="/todo/add-todo" class="btn btn-info float-right"><i
                                            class="fas fa-plus"></i>
                                        Add
                                        item
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </section>


                    <section class="col-lg-5 connectedSortable">

                        <div class="card bg-gradient-primary">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                    <i class="fas fa-map-marker-alt mr-1"></i>
                                    Visitors
                                </h3>
                                <!-- card tools -->
                                <div class="card-tools">
                                    <button type="button"
                                            class="btn btn-primary btn-sm daterange"
                                            data-toggle="tooltip"
                                            title="Date range">
                                        <i class="far fa-calendar-alt"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            data-card-widget="collapse"
                                            data-toggle="tooltip"
                                            title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <div class="card-body">
                                <div id="world-map" style="height: 250px; width: 100%;"></div>
                            </div>
                            <!-- /.card-body-->
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-4 text-center">
                                        <div id="sparkline-1"></div>
                                        <div class="text-white">Visitors</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <div id="sparkline-2"></div>
                                        <div class="text-white">Online</div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-4 text-center">
                                        <div id="sparkline-3"></div>
                                        <div class="text-white">Sales</div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>

                        <!-- Calendar -->
                        <div class="card bg-gradient-success">
                            <div class="card-header border-0">

                                <h3 class="card-title">
                                    <i class="far fa-calendar-alt"></i>
                                    Calendar
                                </h3>
                                <!-- tools card -->
                                <div class="card-tools">
                                    <!-- button with a dropdown -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm dropdown-toggle"
                                                data-toggle="dropdown">
                                            <i class="fas fa-bars"></i></button>
                                        <div class="dropdown-menu float-right" role="menu">
                                            <a href="#" class="dropdown-item">Add new event</a>
                                            <a href="#" class="dropdown-item">Clear events</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item">View calendar</a>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pt-0">
                                <!--The calendar -->
                                <div id="calendar" style="width: 100%"></div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
